{% extends "base.html" %}
{% block content %}
   
      <table border = 1>
         <thead>
            <td>Id</td>
            <td>Text</td>
			<td>UserId</td>
			<td>User</td>
			<td>For Article</td>
         </thead>
         
         {% for row in rows %}
            <tr>
               <td>{{row["id"]}}</td>
               <td>{{row["text"]}}</td>
			   <td>{{row["userId"]}}</td>
				<td>{{row["userName"]}}</td>
				<td>{{row["articleId"]}}</td>
            </tr>
         {% endfor %}
      </table>
      
      <a href = "/">Go back to home page</a>
{% endblock %}}