{% extends "base.html" %}
{% block content %}
   
      <table border = 1>
         <thead>
            <td>Email</td>
            <td>First Name</td>
			<td>Last Name</td>
			<td>pasword</td>
			<td>id</td>
         </thead>
         
         {% for row in rows %}
            <tr>
               <td>{{row["email"]}}</td>
               <td>{{row["fName"]}}</td>
			   <td>{{row["lName"]}}</td>
				<td>{{row["password"]}}</td>
				<td>{{row["id"]}}</td>
            </tr>
         {% endfor %}
      </table>
      
      <a href = "/">Go back to home page</a>
{% endblock %}}