<!doctype html>
<html>
  <head>
    <title>Blog</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
	<script src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}" type="text/javascript"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" type="text/javascript"></script>
	<script src="{{ url_for('static', filename='js/myjs.js') }}" type="text/javascript"></script>
  </head>

  <body>
  <div class="container">
   <nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/"><img style="height:1.5em; width:1.5em;" src="{{ url_for('static', filename='img/globe.png') }}"></a>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav">
				{% if session['logged_in'] %}
				<li>
					<a href="/create">New post</a>
				</li>
				<li>
					<a href="/own">Own articles</a>
				</li>
				{% endif %}
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">Cities<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="/edinburgh">Edinburgh</a></li>
						<li><a href="/hamburg">Hamburg</a></li>
						<li><a href="/all">All</a></li>
					</ul>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
			{% if session['logged_in'] %}
				<li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
			{% else %}
				<li><a href="/signup"><span class="glyphicon glyphicon-user"></span>Sign Up</a></li>
				<li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
			{% endif %}
			</ul>
		</div>
	</div>
</nav>
{% block content %} {% endblock %}
</div>
  </body>
</html>