{% extends "base.html" %}
{% block content %}
      <form action = "{{ url_for('newcomment') }}" method = "POST">
         <h3>New </h3>
         <p>Title</p>
         <input type = "text" name = "text" /></br>

         <input type = "submit" value = "submit" /><br>
      </form>
{% endblock %}}