{% extends "base.html" %}
{% block content %}
      <form action = "{{ url_for('newpost')}}" method = "POST">
         <h3>New post</h3>
         <label>Title</label>
         <textarea class="form-control" rows="1" name="headline" ></textarea></br>
         
         <label>Entry<br></label>
         <textarea class="form-control" rows="10" name="article" ></textarea></br>
		 
         <label>City<br></label>
         <select name="city">
			<option value="Hamburg">Hamburg</option>
			<option value="Edinburgh">Edinburgh</option>
		   </select><br>
		   
		 <label>Video<br></label>
         <textarea class="form-control" rows="1" name="media" ></textarea></br>

         <input type = "submit" value = "submit" /><br>
      </form>
{% endblock %}}