{% extends "base.html" %}
{% block content %}
        {% for row in rows %}
		<h1>{{row["headline"]}}</h1>
		<h5>{{row["city"]}}, {{row["author"]}}</h5>
		<div>{{ row["media"]|oembed() }}</div>
        <p class="article">{{row["article"]}}</p>
		<div>{{row["img"]}}</div>
         {% endfor %}
		 
      <a href="/all">Back to all</a>
{% endblock %}}