{% extends "base.html" %}
{% block content %}
<h1>Oh no, looks like you're lost!</h1>
<p> We are here to help you find your way. Just try again!</p>
<img src="{{ url_for('static', filename='img/lost.jpg') }}" class="fullpage"/>
<button><p>Go back to Homepage</p></button>
{% endblock %}