{% extends "base.html" %}
{% block content %}
<h1>Hamburg</h1>
      <table>
        {% for row in rows %}
            <tr>
				<td>
					<form method="post" action="{{row['id']}}" class="inline">
						<input type="hidden" name="detail" value="{{row['id']}}">
						<button type="submit" name="detail" value="{{row['id']}}" class="link">{{row['headline']}}</button>
					</form></td>
            </tr>
			<tr>
               <td><h6>{{row["city"]}}, {{row["author"]}}</h6></td>
            </tr>
			<tr>
				<td><hr></td>
			</tr>
         {% endfor %}
      </table>
      
      <button><a href="/all">Go back to all posts</a></button>
{% endblock %}}
