{% extends "base.html" %}
{% block content %}
<div class="cover">
<h1 class="typing">Discover 
  <span
     class="txt-rotate"
     data-period="2000"
     data-rotate='[ "Edinburgh.", "Hamburg.", "together.", "the world." ]'></span>
</h1>
</div>
<div class="coverS">
<h1 class="typing">Discover together.</h1>
</div>
<div class="row">
<div class="col-xs-12 col-md-6" class="imgWrap">
	<p class="imgDescription">This image looks super neat.</p>
	<a href="/edinburgh"><img class="start" src="{{ url_for('static', filename='img/edinburgh.jpg') }}"></a>
</div>	
<div class="col-xs-12 col-md-6" class="imgWrap">
	<p class="imgDescription">This image looks super neat.</p>
	<a href="/hamburg"><img class="start" src="{{ url_for('static', filename='img/hamburg.jpg') }}"></a>
</div>	
</div>
{% endblock %}}


