{% extends "base.html" %}
{% block content %}

<h1>This pen is
  <span
     class="txt-rotate"
     data-period="2000"
     data-rotate='[ "nerdy.", "simple.", "pure JS.", "pretty.", "fun!" ]'></span>
</h1>
<h2>A single &lt;span&gt; is all you need.</h2>

<hr class="listdevider">
	<img class="start" src="{{ url_for('static', filename='img/edinburgh.jpg') }}">
	<p> Hallolololo </p>
<hr class="listdevider">
	<img class="start" src="{{ url_for('static', filename='img/edinburgh.jpg') }}">
{% endblock %}}