{% extends "base.html" %}
{% block content %}

{% if session['logged_in'] %}
<h2>You're logged in already!</h2>
{% else %}

<div class="box">

<form name="login_form" action="/login" method="post">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="email" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password"  name="password" class="form-control" placeholder="Password" required>


    <button type="submit" class="btn btn-lg btn-primary btn-block" name="button" value="login">
        Sign In
    </button>
</form>
<a href="/signup">Not yet a member? Sign in</a>
</div>
{% endif %}
{% endblock %}