{% extends "base.html" %}
{% block content %}
<h1>Own Stuff</h1>
      <table>
        {% for row in rows %}
            <tr>
				<td>
					<form method="post" action="{{row['id']}}" class="inline">
						<input type="hidden" name="detail" value="{{row['id']}}">
						<button type="submit" name="detail" value="{{row['id']}}" class="link">{{row['headline']}}</button>
					</form>
				</td>
				<td>
					<form method="post" action="{{ url_for('deletepost')}}" class="inline">
						<input type="hidden" name="deleteId" value="{{row['id']}}">
						<button type="submit" value="delete" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
					</form></td>
					<td>
					<form method="post" action="{{ url_for('updatepost')}}" class="inline">
						<input type="hidden" name="udateId" value="{{row['id']}}">
						<button type="submit" value="update" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
					</form></td>
            </tr>
			<tr>
               <td><h6>{{row["city"]}}, {{row["author"]}}</h6></td>
            </tr>
			<tr>
				<td><hr></td>
			</tr>
         {% endfor %}
      </table>
      
      <button><a href="/all">Go back to all posts</a></button>
{% endblock %}}