{% extends "base.html" %}
{% block content %}
	<p>{{ msg }}</p>
	<button><a href = "\">go back to home page</a></button>
	{% if session['logged_in'] %}
				<button><a href = "\all">See posts</a></button>
			{% else %}
				<button><a href = "\login">Log in</a></button>
			{% endif %}

{% endblock %}}