{% extends "base.html" %}
{% block content %}

{% if session['logged_in'] %}
<h2>You're already logged in!</h2>
{% else %}

<div class="box">

      <form action = "{{ url_for('newuser') }}" method = "POST">
         <h3>New User</h3>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
		
        <label for="inputName" class="sr-only">First name</label>
        <input type="text" name="fName" class="form-control" placeholder="First name" required >
		
		<label for="inputName" class="sr-only">Last name</label>
        <input type="text" name="lName" class="form-control" placeholder="Last name" required>
		
		<label class="sr-only">password</label>
        <input type="password" name="password" class="form-control" placeholder="password" required>
		 
    <button type="submit" class="btn btn-lg btn-primary btn-block" name="button" value="login">
        Sign In
    </button>
      </form>

<a href="/login">Already a member? Log in</a>
</div>
{% endif %}
{% endblock %}