{% extends "base.html" %}
{% block content %}
       {% for row in rows %}
      <form action="{{ url_for('change')}}" method="POST">
         <h3>Update Post</h3>
         <label><p>Headline</p></label>
         <input class="form-control" type="text" rows="1" name="headline" value="{{row['headline']}}" ></textarea></br>
         
         <label>Entry<br></label>
         <input class="form-control" rows="10" type="text" name="article" value="{{row['article']}}"></textarea></br>
		 
         <label>City<br></label>
         <select name="city">
			<option value="Hamburg">Hamburg</option>
			<option value="Edinburgh">Edinburgh</option>
		   </select><br>
		 
		  <label>Video<br></label>
         <input class="form-control" type="text" rows="1" name="media" value="{{row['media']}}" ></textarea></br>
		 
		 <input type="hidden" name="updateId" value="{{row['id']}}">

         <input type="submit" value="submit" /><br>
      </form>
	   {% endfor %}
{% endblock %}}