body{
font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
min-width: 270px;
}
button{
border:none;
}
.btn{
margin-left: 10px;
}
/* Animation first page */
.typing {
color: grey;
font-size:20px;
text-align: center;
vertical-align: middle;
line-height: 30vh;
}

/*
 * Lists
 */
.link{
    background-color: white;
	text-decoration: none;
	cursor: pointer;
	font-size: 2em;
	border: none;
	padding: 0px;
}
.link:hover{
color: #5AA2AE;
}
/*
 * Images
 */
.start {
 width:100%;
 margin-top: 2em;
 }
 .fullpage{
 width:100%;
 }
/* Home Page */ 
.coverS{
height: 30vh;
}
.coverS h1 {
font-size
}
.cover{
display: none;
}

.imgWrap {
  position: relative;
  height: 200px;
  width: 257px;
}

.imgDescription {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility opacity 0.2s;

}
.imgWrap:hover .imgDescription {
  visibility: visible;
  opacity: 1;
}

/*Detail page*/
.article{
text-align:justify;
margin-top: 2em;
}


@media (min-width: 40em) {
.start{
margin-top: 0em:
}
.coverS{
display: none;
}
.cover{
height: 30vh;
display: inline;
}
.typing{
font-size:8vh;
}
}

@media (min-width: 62em) {
.box{
width: 50%;
margin: auto;
}
.form-control{
margin-top: 1em;
margin-bottom: 1em;
}
}